
  <!-- the double curly braces of interpolation to display the app title.
    The double curly braces are Angular's interpolation binding syntax.
    This interpolation binding presents the component's title property
    value inside the HTML header tag.

    The <router-outlet> tells the router where to display routed views.
    The RouterOutlet is one of the router directives that became available
    to the AppComponent because AppModule imports AppRoutingModule which
    exported RouterModule.

 -->
  <h1> {{ title }}</h1>

  <nav>
    <a routerLink="/dashboard">Dashboard</a>

    <a routerLink="/heroes">Princesses</a>
  </nav>
  <router-outlet></router-outlet>
  <app-messages></app-messages>

